doctype html
html
    head
        <script src="https://kit.fontawesome.com/5d7417fc29.js" crossorigin="anonymous"></script>
        title WeTube
    body
        include ../partials/header
        main
            block content
        include ../partials/footer
            